body {
  font-family: "Helvetica", sans-serif;
  width: auto;
  margin: 10px auto;
}

h1 {
  background-color: #1b75af;
  font-size: 16px;
  color: #f16421;
  border-bottom: solid 3px gray;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

h2 {
  color: black;
  background-color: none;
  font-size: 14px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
}

p1 {
  font-size: 12px;
  font-weight: lighter;
}

.button {
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
}

.btn-list {
  padding:5px;
  background-color: #DC143C;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
}

.img-scale {max-width: 100%; height: auto; }

.logo-scale {max-width: 50%; height: auto; }
.logo-scale2 {max-width: 50%; height: auto; padding-top: 4px; padding-bottom: 4px}

.img-circle {
      border-radius: 50%;
      width: 125px;
  }

footer {
      background-color:black;
      color:white;
      clear:both;
      text-align:center;
      padding:5px;
      height: 50px;
  }
